@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0b0b0d;
  color: #f2f2f0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input[type="range"] {
  accent-color: #1db954;
}
